[submodule "vendor/zerokit"]
	path = vendor/zerokit
	url = https://github.com/vacp2p/zerokit.git
	ignore = dirty
	branch = release-v2.0.1
[submodule "vendor/waku-rlnv2-contract"]
	path = vendor/waku-rlnv2-contract
	url = https://github.com/logos-messaging/waku-rlnv2-contract.git
	ignore = untracked
	branch = main
[submodule "tests-e2e/vendor/logos-delivery-python-bindings"]
	path = tests-e2e/vendor/logos-delivery-python-bindings
	url = https://github.com/logos-messaging/logos-delivery-python-bindings.git
	ignore = untracked
	branch = master
	update = none
